<h3>Lista de manzanas</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Signo</th>
            <th>Stock</th>
            <th>Elecion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let apple of apples" [ngClass]="{'new': apple.new}">
            <td><img width="90" class="img-thumbnail" [src]="apple.image" [alt]="apple.name"></td>
            <td>{{apple.name }}</td>
            <td>{{apple.sign}}</td>
            <td><span class="badge badge-warning" *ngIf="apple.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-integer [apple]="apple.quantity" [max]="apple.stock" *ngIf="apple.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>