table {
    background-color: rgb(255, 187, 187);
    color: rgb(143, 28, 28);
}

.new {
    border: 2px solid green;
    background: lightgreen;
}
td {
    vertical-align: middle;
}
button {
    margin: 0.2em;
}
img {
    width: 40px;
}
.btn-none {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}